<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="application.arkthepro.com.androidtraining">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BuildingYourFirstApp.MainActivity" />
        <activity android:name=".BuildingYourFirstApp.DisplayMessage" />
        <activity android:name=".SupportingDifferentLanguages.SupportingDevices" />
        <activity android:name=".Building_Dynamic_UI_with_Fragments.Fragments" />
        <activity android:name=".Building_Dynamic_UI_with_Fragments.TitleFragment_List" />
        <activity android:name=".SavingData.SharedPreferenceExample"></activity>
        <activity android:name=".SavingData.SavingDatainSQLDB">

        </activity>
        <activity android:name=".InteractingWithOtherApps.Sending_the_User_to_Another_App">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
